<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable" align-title="center" ng-controller="timeController">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear coke-burger" menu-toggle="left">
        </button>
        <div class="current-time">
          <div class="time" current-time="clockFormat"></div>
        </div>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <div class="timer-holder">
          <span class="label">
            total
          </span>
          <div class="timer counter-timer">{{cokeCounter}}</div>
        </div>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="coke-menu">
    <ion-header-bar class="bar-dark">
      
    </ion-header-bar>
    <ion-content class="coke-menu-content">
      <ul class="list">
        <a href="#/app/location" class="item groupe-a" ng-click="selectGroup('A')" menu-close>
          <span class="logo">A</span>
          <span class="groupe">Groupe A</span>
        </a>
        <a href="#/app/location" class="item groupe-b" ng-click="selectGroup('B')" menu-close>
          <span class="logo">B*</span>
          <span class="groupe">Groupe B*</span>
        </a>
      </ul>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
