/****
	HEADER BAR
*****/

.bar.bar-stable {
	background-color: #c60a19;
	border-bottom: 5px solid #b21013;
	color: #fff;
	height: 60px;
}
.bar.bar-stable .title {
	color: #fff;
	font-size: 30px;
	font-family: 'Zheldor';
	line-height: 60px;
	margin: 0;
	text-transform: uppercase;
}

.bar.bar-stable .buttons-left .button.button-clear.coke-burger {
  margin: 10px 15px;
  width: 28px;
  height: 28px;
  background: url(../img/coke-burger.png) center no-repeat;
  background-size: contain;
}
.bar.bar-stable .buttons-left {
	color: rgba(255,255,255,0.48);
	font-size: 19px;
	font-family: 'Gotham';
	font-weight: bold;
	height: 45px;
}
.bar.bar-stable .buttons-left .current-time {
	line-height: 45px;
	position: relative;
	top: 3px;
	left: 250px;
	width: 100px;
}
.bar.bar-stable .buttons-left .current-time .time:before {
	background-image: url(../img/clock-icon.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	content: '';
	float: left;
	height: 37px;
	position: relative;
	top: 3px;
	left: -15px;
	width: 37px;
}

.bar.bar-stable .buttons-right .timer-holder {
	color: #fff;
	display: inline-block;
	font-family: 'Gotham';
	font-size: 19px;
	position: relative;
	bottom: 5px;
	vertical-align: middle;
	width: auto;
}
.bar.bar-stable .buttons-right .timer-holder .label {
	display: inline-block;
	line-height: 32px;
	margin: 0 10px;
	text-transform: uppercase;
}
.bar.bar-stable .buttons-right .timer-holder .timer {
	display: inline-block;
	font-weight: 600;
	line-height: 32px;
	margin: 0 25px;
}
.bar.bar-stable .buttons-right .timer-holder .timer:before {
	background-image: url(../img/time-spinner.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	content: '';
	display: inline-block;
	height: 37px;
	position: relative;
	top: 8px;
	left: -15px;
	width: 37px;
}


/* SubHeader */
.bar.bar-subheader {
	border: none;
	font-size: 16px;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	margin: 0;
	padding: 0;
	padding-left: 100px;
	position: absolute;
	top: 0;
}
.bar.bar-subheader.connect {
	background-color: #d6e8c4;
	color: #468743;
}
.bar.bar-subheader.reconnect {
	background-color: #f9eba8;
	color: #817116;
}
.bar.bar-subheader.disconnect {
	background-color: #ee8885;
	color: #5b1814;
}
.bar.bar-subheader .btn {
	background-color: rgba(0,0,0,0.2);
	display: inline-block;
	height: 50px;
	padding: 0 15px;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.bar.bar-subheader .btn:after {
	background-image: url(../img/spinner_dark.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	content: '';
	height: 24px;
	position: absolute;
	top: 13px;
	right: -40px;
	width: 24px;
    -webkit-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
