@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham/Gotham-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gotham/Gotham-Book.woff') format('woff'), /* Modern Browsers */
       url('../fonts/gotham/Gotham-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gotham/Gotham-Book.svg#7510147900d23fa3ad697e74bf146ea2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Zheldor';
  src: url('../fonts/zheldor/Zheldor.eot'); /* IE9 Compat Modes */
  src: url('../fonts/zheldor/Zheldor.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/zheldor/Zheldor.woff') format('woff'), /* Modern Browsers */
       url('../fonts/zheldor/Zheldor.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/zheldor/Zheldor.svg#e139b6ce407c13ad713a4e3e41760e96') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

