/* Empty. Add your own CSS if you like */

html, body {
  height: 100vh;
}

.html.no-scroll {
  overflow: hidden;
}

.fun-text {
	color: #fff;
	font-family: 'Zheldor';
	font-size: 30px;
}
.serious-text {
	color: #fff;
	font-family: 'Gotham';
}

.scroll-content.has-header {
	top: 60px;
}

.row.cards .col {
	height: 550px;
	padding-top: 60px;
}
	.row.cards .col .list {
		background-color: #b21013;
		border-radius: 10px;
		float: left;
		height: 228px;
		margin: 10px 7px;
		padding: 0;
		white-space: nowrap;
		width: 237px;
		z-index: 10;
	}
	.row.cards .col .list:nth-child(2n+1) {
		position: relative;
		top: 130px;
	}
	.row.cards .col .list:nth-child(6) {
		position: relative;
		left: 250px;
	}
	.row.cards .col .list:nth-child(7) {
		position: relative;
		left: 502px;
		top: 0;
	}
		.row.cards .col .list li.item {
			background-color: #dd0b1c;
			border: none;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			line-height: 70px;
			height: 70px;
			margin: 0;
			padding: 0;
			text-align: center;
		}
		.row.cards .col .list li.item button {
			display: none;
		}
		.row.cards .col .list .content {
			background-color: #c60a19;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			height: 152px;
			padding-top: 18px;
			top: 0;
			width: 237px;
		}
			.row.cards .col .list .content .check {
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				height: 32px;
				margin: 0 auto;
				width: 32px;
			}
			.row.cards .col .list.loading .content .check {
				background-image: url(../img/spinner.png);
			    -webkit-animation:spin 2s linear infinite;
			    animation:spin 2s linear infinite;
			}
			.row.cards .col .list.checked .content .check {
				background-image: url(../img/check.png);
			}
			.row.cards .col .list .content p {
				box-sizing: border-box;
				color: #fff;
				font-size: 13px;
				height: 100px;
				line-height: 21px;
				padding: 10px;
				margin: 0;
				text-align: center;
				width: 100%;
			    word-break: break-all;
			    white-space: normal;
			}
	.row.cards .col .current_page {
		color: rgba(0,0,0,0.21);
		font-size: 750px;
		line-height: 750px;
		position: absolute;
		right: 10px;
		bottom: 0;
		z-index: 1;
	}

.row.bottom {
	height: 130px;
	margin: 0;
	padding: 0;
}
	.row.bottom .col {
		/* */
	}
		.row.bottom .col .partner_logo {
			background-image: url(../img/coke_partner.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			height: 90px;
			position: absolute;
			bottom: 25px;
			left: 25px;
			width: 170px;
		}
		.row.bottom .col .button {
			background-color: #2b2929;
			border: none;
			border-radius: 10px;
			display: block;
			height: 75px;
			margin: 22px auto;
			padding: 0;
			width: 188px;
		}
			.row.bottom .col .button .inner {
				background-color: #444141;
				border-radius: 10px;
				font-size: 30px;
				height: calc(100% - 7px);
				line-height: 70px;
				margin-bottom: 7px;
				width: 100%;
			}
		.row.bottom .col .page_indicator {
			height: 70px;
			position: absolute;
			bottom: 25px;
			right: 15px;
			width: 90px;
		}

			.row.bottom .col .page_indicator div {
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				color: #fff;
				display: none;
				height: 100%;
				line-height: 70px;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
			}
			.row.bottom .col .page_indicator.A .page_a {
				background-image: url(../img/page_a.png);
				display: block;
				padding-left: 40px;
			}
			.row.bottom .col .page_indicator.B .page_b {
				background-image: url(../img/page_b.png);
				display: block;
				padding-left: 35px;
			}


/* Restart overlay */
.confirm-restart {
	background-color: #abaaaa;
	border-radius: 10px;
	height: 460px;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 640px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 100;
}
.confirm-restart .inner {
	background-color: #fff;
	border-radius: 10px;
	height: calc(100% - 7px);
	padding: 150px 100px;
	position: absolute;
	top: 0;
	width: 100%;
}
.confirm-restart .inner p {
	color: #2c2a2a;
	font-size: 28px;
	font-family: 'Gotham';
	line-height: 40px;
	text-align: center;
}
.confirm-restart .inner .buttons {
	padding: 70px 0;
}
.confirm-restart .inner .buttons .button {
	background-color: #b21013;
	border: none;
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	font-family: 'Zheldor';
	font-size: 30px;
	padding: 0;
	height: 75px;
	width: 188px;
}
.confirm-restart .inner .buttons .button:first-child {
	margin-right: 60px;
}
.confirm-restart .inner .buttons .button .inner {
	background-color: #dd0b1c;
	line-height: 68px;
	padding: 0;
}
.confirm-restart .inner .buttons .button .inner:after {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	content: '';
	display: inline-block;
	height: 30px;
	position: relative;
	top: 4px;
	left: 15px;
	width: 30px;
}
.confirm-restart .inner .buttons .button.confirm .inner:after {
	background-image: url(../img/check-mark.png);
}
.confirm-restart .inner .buttons .button.negate .inner:after {
	background-image: url(../img/cross.png);
}


/* animation */
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
